html {
    box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: url("https://i.pinimg.com/originals/57/ba/44/57ba44964cb5974f9ef8fb287baa6734.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
    width: 400px;
    color: white;
    border-radius: 80px 80px 0 0;
}
.screen{
    text-align: right;
    padding: 20px 5px;
    font-size: 45px;
    font-family: 'Eater', cursive;
    background-image: url("https://images.pexels.com/photos/239107/pexels-photo-239107.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: 30% 70%;
    background-size: cover;
    border-radius: 80px 80px 0 0;

}
.rows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:.5%;
}
.col-btn{
    background-color: white;
    color: black;
    border: none;
    font-size:40px;
    height: 100px;
    flex-basis: 24.5%;
    border-radius: 100px 100px 0 0;
    outline:none;
}
.col-btn:hover{
    background-color: rgb(172, 4, 46) ;
}

.col-btn:active{
    background-color: #800020 ;
    color: white;
}
.bigger{
    flex-basis: 49.7%;
}
.tripple{
    flex-basis: 74.8%;
}
.col-btn:last-child{
    color: white;
    background-color: #800020 ;
}
.col-btn:last-child:hover{
    color: white;
}
.col-btn:last-child:active{
    background-color:rgb(172, 4, 46);
    color: black;
}
